@import "tailwindcss";
html,
body {
  overflow-x: hidden;
}

/* styles.css */
.bg-home-rental {
  background-image: url('/Images/bg-img.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
